@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=VT323&display=swap');

.pixel{
    font-family: 'VT323', monospace;
    background-image:url(../IMG/);
}
#header{
    background-image:url(../IMG/LOGO/f\ undo.png);
    background-position: center;
    background-size: cover;
}